# Ignore IntelliJ IDE
out/
project/
target/
/.idea/workspace.xml
.DS_Store
*test_result.*

*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

contextProcessor/target/
contextProcessor/project/
context/target/
context/project/
contextSummary/target/
contextSummary/project/

results/